.add-book-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 25px;
    padding: 25px;
    border: 1px solid grey;
    border-radius: 25px;
}

.hidden {
    display: none;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.library {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.book-shelf {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
}

.book {
    background-color: antiquewhite;
    color: black;
    height: auto;
    width: 100%;
    padding: 12.5px;
    display: flex;
    justify-content: space-evenly;
    border-bottom: 1px solid black;
}

thead > tr {
    height: auto;
    width: 100%;
    padding: 12.5px;
    display: flex;
    justify-content: space-evenly;
    background: pink;
    border-bottom: 1px solid black;
    border-radius: 10px 10px 0px 0px;
}

td,
th {
    width: 25%;
    margin: 0 10px;
    text-align: left;
}

.delete-btn {
    font-size: 1.5em;
    background: none;
    border: none;
}

.delete-btn:hover,
.read-btn:hover {
    cursor: pointer;
}

.read-btn {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: grey;
}

.read-btn.read {
    background-color: green;
}

.display-form-btn {
    height: 70px;
    width: 250px;
    border: 0px;
    border-radius: 25px;
    margin: 25px;
    background-color: green;
}