.add-book-form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    width: 300px;
    margin: 25px;
    padding: 25px;
    border: 1px solid grey;
    border-radius: 25px;
}

.hidden {
    display: none;
}

.input-container {
    display: flex;
    justify-content: space-between;
}

.library {
    display: flex;
    flex-direction: column;
   align-items: center;
}

.book-shelf {
    display: grid;
    grid-gap: 25px;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    align-items: center;
}

.book {
    background-color: antiquewhite;
    color: black;
    border-radius: 25px;
    height: auto;
    width: 250px;
    padding: 25px;
}

.display-form-btn {
    height: 70px;
    width: 250px;
    border: 0px;
    border-radius: 25px;
    margin: 25px;
    background-color: green;
}